In [1]:
from openaq import OpenAQ
import os
import pandas as pd
from dotenv import load_dotenv

In [2]:
load_dotenv()
API_KEY = os.getenv("MY_API_KEY")
client = OpenAQ(api_key=API_KEY)
response = client.locations.get(2178)
data = response.dict()
df = pd.json_normalize(data['results'])
client.close()

In [3]:
data

{'headers': {'x_ratelimit_limit': 60,
  'x_ratelimit_remaining': 59,
  'x_ratelimit_used': 1,
  'x_ratelimit_reset': 60},
 'meta': {'name': 'openaq-api',
  'website': '/',
  'page': 1,
  'limit': 100,
  'found': 1},
 'results': [{'id': 2178,
   'name': 'Del Norte',
   'locality': 'Albuquerque',
   'timezone': 'America/Denver',
   'country': {'id': 155, 'code': 'US', 'name': 'United States'},
   'owner': {'id': 4, 'name': 'Unknown Governmental Organization'},
   'provider': {'id': 119, 'name': 'AirNow'},
   'is_mobile': False,
   'is_monitor': True,
   'instruments': [{'id': 2, 'name': 'Government Monitor'}],
   'sensors': [{'id': 25227,
     'name': 'co ppm',
     'parameter': {'id': 8,
      'name': 'co',
      'units': 'ppm',
      'display_name': 'CO'}},
    {'id': 4272226,
     'name': 'no ppm',
     'parameter': {'id': 35,
      'name': 'no',
      'units': 'ppm',
      'display_name': 'NO'}},
    {'id': 3916,
     'name': 'no2 ppm',
     'parameter': {'id': 7,
      'name': 'no2',
      'units': 'ppm',
      'display_name': 'NO₂'}},
    {'id': 4272103,
     'name': 'nox ppm',
     'parameter': {'id': 19840,
      'name': 'nox',
      'units': 'ppm',
      'display_name': 'NOx'}},
    {'id': 3917,
     'name': 'o3 ppm',
     'parameter': {'id': 10,
      'name': 'o3',
      'units': 'ppm',
      'display_name': 'O₃'}},
    {'id': 3919,
     'name': 'pm10 µg/m³',
     'parameter': {'id': 1,
      'name': 'pm10',
      'units': 'µg/m³',
      'display_name': 'PM10'}},
    {'id': 3920,
     'name': 'pm25 µg/m³',
     'parameter': {'id': 2,
      'name': 'pm25',
      'units': 'µg/m³',
      'display_name': 'PM2.5'}},
    {'id': 3918,
     'name': 'so2 ppm',
     'parameter': {'id': 9,
      'name': 'so2',
      'units': 'ppm',
      'display_name': 'SO₂'}}],
   'coordinates': {'latitude': 35.1353, 'longitude': -106.584702},
   'bounds': [-106.584702, 35.1353, -106.584702, 35.1353],
   'distance': None,
   'datetime_first': {'utc': '2016-03-06T20:00:00Z',
    'local': '2016-03-06T13:00:00-07:00'},
   'datetime_last': {'utc': '2025-09-15T19:00:00Z',
    'local': '2025-09-15T13:00:00-06:00'}}]}

In [4]:
df

,id,name,locality,timezone,is_mobile,is_monitor,instruments,sensors,bounds,distance,...,owner.id,owner.name,provider.id,provider.name,coordinates.latitude,coordinates.longitude,datetime_first.utc,datetime_first.local,datetime_last.utc,datetime_last.local
0,2178,Del Norte,Albuquerque,America/Denver,False,True,"[{'id': 2, 'name': 'Government Monitor'}]","[{'id': 25227, 'name': 'co ppm', 'parameter': ...","[-106.584702, 35.1353, -106.584702, 35.1353]",None,...,4,Unknown Governmental Organization,119,AirNow,35.1353,-106.584702,2016-03-06T20:00:00Z,2016-03-06T13:00:00-07:00,2025-09-15T19:00:00Z,2025-09-15T13:00:00-06:00